doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Main Page
	body
		include components/header

		.wrapper 
			p.text Всем привет с Абрау-Дюрсо!
			

		include components/footer
		script(src='js/app.min.js')
